# build artifacts
engine/test/kv_tests
engine/test/glue/test_glue
engine/test/glue/test_glue_falsify
engine/test/glue/test_nut65_sim
engine/test/glue/test_visual_passthrough
engine/test/glue/test_pending_clear_probe
engine/test/glue/test_strict_clear_falsify
engine/test/glue/test_modifiers
engine/test/glue/test_rgb
engine/test/glue/glue_tests
engine/test/glue/glue_falsify
*.o
